/* Start Additional Styles */

    #top-bar {
    border-bottom: 1px solid #EEE;
    height: 23px;
    line-height: 22px;
    font-size: 12px;
	background-color:#EFEFEF;
	padding-bottom:5px;
    }
	
	.top-links li > a {
    display: block;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    text-transform: none;
    height: 21px;
    color: #666;
    }
	
	.top-links ul li { height: auto; }
	
	#logo { height: auto; }
	
	.inv { display: none; }
	
	.a-margin { margin: 0 15px 15px 15px; }
	
	h5, h6 { margin-bottom: 8px; }
	
	.widget_links { margin-bottom: 5px; }
	
	.footer h4 { margin: 0 0 10px 0; }
	
	.panel .widget_links a { color: #E31936; }
	
	.even-panels [class*="panel"]{ margin-bottom: -99999px; padding-bottom: 99999px; }

    .even-panels { overflow: hidden; }
	
	#footer select { color: #E31936; background-color:#ffffff; }

    .r-margin {  margin-right:20px ; }
    
	.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }
	
	.red-color { color: #E31936; }
	
	.paragraph-title { color: #E31936; margin: 20px 0 5px 0; }
	
	#footer { border-top: none; }
	
	.bottommargin-xs { margin-bottom: 15px !important; }
	
    .feature-box.fbox-center { padding-top: 6px; }
	
    .ipost .entry-image img { border: 1px solid #EEEEEE; }
 
    .tabs-bordered.side-tabs .tab-container { background-color: #ffffff; }
	
	.ztitle { background-color: #F9F9F9 !important; border-bottom: 1px solid #EEE !important; padding-top: 30px !important; text-transform: uppercase !important; }
	
	.zbutton { background-color: #F5F5F5 !important; border-top: 1px solid #EEE !important; border-bottom: 1px solid #EEE !important; padding: 30px 0 !important; }
	
    .breadcrumb {
    padding: .25em 0em;
    }
    #breadcrumbs {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
    }

	#page-title {
    position: relative;
    padding: 15px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
    }
	
	.content-wrap {
    position: relative;
    padding: 50px 0;
    }
	
	.ask-us img { width: 40px; }
				
	@media screen and (min-width: 768px) {
	.ask-us img { width: 54px;}   
    }
	
	@media (max-width: 767px) {
    #page-title .breadcrumb {
    margin: 5px 0 0 !important;
    }
	}
	
	.fade-a:hover { transition: color 0.75s ease; color: #E31936; }
	
    .color-line { height: 4px; width: 100%;
    background: linear-gradient(270deg, #e31936, #ffffff);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    }

    @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }

    .bold { font-weight: 600; }
                        
    .field__items {
      margin-bottom: 1em;
      margin-left: 1em;
    }
    @media screen and (max-width: 480px) {
    #top-bar, .ask-us, .more-research {
    display:none;
    }
    }

    @media screen and (max-width: 767px) {
    .ask-us {
    display:none;
    }
    }
						
    @media screen and (min-width: 768px) {
    .equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
    }
	.side-tabs ul.tab-nav { width: 240px; }
    }



    @media screen and (max-width: 480px) {
    #logo img {
    max-width: 215px;
    max-height: 69px;
    margin-top: 12px;
    }
    }

    @media screen and (max-width: 480px) { #logo img { max-width: 215px; max-height: 69px; margin-top: 12px; } }


    @media screen and (min-width: 768px) and (max-width: 991px) {
	.col-clear > .col-md-3:nth-child(2n+1) {
    clear: both;
    }
    }

    @media screen and (min-width: 992px) {
    .col-clear > .col-md-3:nth-child(4n+1) {
    clear: both;
    }
    }

  .device-md #header.full-header #primary-menu > ul { 
    padding-right: 0px;
    margin-right: 0px;
  }
  .device-md #primary-menu ul li a {
    padding: 39px 5px;
    font-size: 11px;
    letter-spacing: 0px;
  }
  #primary-menu ul li a {
    padding: 39px 8px;
    letter-spacing: 0px;
  }
  .device-md body.stretched #header.full-header .container {
    width: 100%;
    padding: 0 0px;
  }
  #header.full-header #logo {
    margin-right: 8px;
  }

/** Page Footer **/
footer.page-footer {
  color: #fff;
  background: rgb(80,80,80);
}
footer.page-footer .container{
  width:100% !important
}
footer.page-footer h3,
footer.page-footer h4,
footer.page-footer h5 {
  color: #fff;
  font-size: 100%;
}
footer.page-footer ul li {
    list-style-type: none;
    padding: 0;
}
footer.page-footer a {
  color: #fff;
}
