.field__label,
.eva-title {
  color: #444;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 10px 0;
  font-size: 24px;
}

.field--type-text-long .field__item,
.field--type-text-long .field__items {
  margin-left: 0px;
}

.field--label-inline .field__label,
.field--label-inline .field__item {
  display: inline;
}

.field__label::after {
  content: "";
}

.field--label-inline .field__label::after {
  content: ": ";
}

.panel {
  padding: 15px;
}

#sidebar-right div.views-element-container {
 margin-bottom: 1em; 
}

.view-eva .item-list .arrow_list {
  margin-left: 1em;
  margin-bottom: 0em;
}

.view-eva .item-list .arrow_list li {
  list-style: none;
}

.view-eva nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.view-eva nav ul li {
    list-style: none;
    display: inline;
    padding: .5em;
}
