#page-title h1 {
  text-transform: none;
}


h3.top-containers-list-title {
  text-transform: none;
}

p {
  margin-bottom: 15px;
}

.node__content .field__label {
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 7px 0;
  font-size: 21px;
}

.field__items {
  margin-left: 0em;
}

.node__content .field--type-text-long .field__item,
.node__content .field--type-text-long .field__items {
  margin-left: 0px;
}

.field--name-field-repository .node--type-repository h2 {
  text-transform: none;
  font-size: 1em;
  margin-bottom: 1em;
}

details.toggle {
  border-bottom: 1px solid #EEE;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

details.toggle > summary {
  list-style: none;
}
details.toggle > summary::-webkit-details-marker {
  display: none;
}

.details-title {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

.details-wrapper {
  display: block;
  position: relative;
  padding: 10px 0 0 24px;
}

#additional-description .details-title::before {
  content: "\e70c"; //Plus sign
}
#administrative-information .details-title::before {
  content: "\e710"; //Question sign
}
#subjects .details-title::before {
  content: "\e616"; //Tag
}
#repository-details .details-title::before {
  content: "\e62a"; //Map marker
}

.details-title:before {
  padding-right: 1em;
  display: inline-block;
  font-family: 'font-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

/** sidebar slider **/

.content_layout {
  position: relative;
  float: left;
  padding-right: 15px;
}

.sidebar {
  margin-right: 0px;
  padding: 15px;
}

@media (min-width: 992px) {
  #sidebar.resizable-sidebar {
    position: relative;
    padding-left: 12px
  }
  #sidebar.resizable-sidebar .resizable-sidebar-handle {
    background-color: #EEE;
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0;
    left: 0;
    cursor: ew-resize;
    background-image: url(images/sidebar_drag_handle.png);
    background-repeat: no-repeat;
    background-position: 1px center;
    border-right: 1px solid #CCC
  }
}

@media (max-width: 991px) {
  .row.has-resizable-content>.col-sm-9,
  .row.has-resizable-content>.resizable-sidebar {
    width: inherit !important
  }
}

.split,
.gutter.gutter-horizontal {
  float: left;
}

.gutter.gutter-horizontal {
  background-color: #EEE;
  border-radius: 4px 0px 0px 4px;
  min-height: 300px;
  width: 8px;
  cursor: ew-resize;
  background-image: url(images/sidebar_drag_handle.png);
  background-repeat: no-repeat;
  background-position: 1px center;
  border-right: 1px solid #CCC
}

/** Inventory sidebar block **/

.sidebar .region h2.title{
  padding: 5px 0;
  margin: 0;
  color: black;
}

#views-exposed-form-islandora-search-search {
  margin:0px;
}

#views-exposed-form-islandora-search-search .form-item, 
#views-exposed-form-islandora-search-search .form-actions {
    margin-top: .25em;
    margin-bottom: .25em;
}

input#edit-keys{
  width:100%;
}

.nav-menu-list-style {
  list-style: none;
  margin: 0px;
  min-height:20px;
  padding: 0px;
  margin-bottom:20px;
  background-color:#f5f5f5;
  border:1px solid #999;
  box-sizing: border-box;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

ol.nav-menu-list-style > li {
  position: relative;
  list-style: none;
}

ol.nav-menu-list-style li label {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  margin: 0;
  line-height: 2em;
  padding: 0 8px;
  font-weight: 600;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}

.icon-as-collection:before {
  content: "\e601";
}
.icon-as-series:before {
  content: "\e602";
}
.icon-as-subseries:before {
  content: "\e602";
}
.icon-as-file:before {
  content: "\e643";
}
.icon-as-item:before {
  content: "\e63e";
}
.icon-as-otherlevel:before {
  content: "\e602";
}

#block-views-block-as-ao-children-block-2 div div nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#block-views-block-as-ao-children-block-2 div div nav ul li {
    list-style: none;
    display: inline;
    padding: .5em;
}

#block-views-block-archival-object-digital-object-block-1 div {
  text-align: center;
}

.note_chronology dl dd{
  margin-left: 2em;
  margin-bottom: auto;
}

.note_chronology dl dt{
  margin-top: 1em;
}

/** Top Container **/
.view-archival-container-list-eva h3 {
  margin-bottom: 0;
}
.view-archival-container-list-eva ol {
  margin-bottom: 1em;
  margin-left: 2em;
  list-style: none;
}
.view-archival-container-list-eva ol li {
  list-style: none;
}
