form.views-exposed-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-item {
    margin: .5em 1em .5em 0em;
}
.form-actions {
    margin: .5em;
}

.form-item label{
    display: table;
    margin: 0 0 0.1em;
    padding: 0;
    font-weight: bold;
}

form.views-exposed-form:after {
    display: table;
    clear: both;
    content: "";
}

@media (max-width: 800px) {

  form#views-exposed-form-finding-aids-page-1 {
    flex-direction: column;
    align-items: stretch;
  }
  
  form#views-exposed-form-finding-aids-page-1 .form-item {
    margin: .25em;
  }

}
