.horizontal-tabs-pane .field,
.panel-body .field {
  margin-bottom: 1em;
}

.horizontal-tabs-pane .field .field__label,
.panel-body .field .field__label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}
