/** 
	* Filename:     global.css
	* Version:      1.0.0 (2016-11-15)
	* Website:      http://www.zymphonies.com
	* Description:  Global Styles
	* Author:		support Team
					support@zymphonies.com
**/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*Variables*/
/*Header*/
/*Menu Color*/
/*Mixins*/
/** @file Styles for system messages. */
.messages { background: no-repeat 10px 17px; /* LTR */ border: 1px solid; border-width: 1px 1px 1px 0; /* LTR */ border-radius: 2px; padding: 10px 20px 10px 20px; /* LTR */ word-wrap: break-word; overflow-wrap: break-word; margin: 5px 0px; }

.messages + .messages { margin-top: 1.538em; }

.messages__list { list-style: none; padding: 0; margin: 0; }

.messages__item + .messages__item { margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status { color: #325e1c; background-color: #f3faef; border-color: #c9e1bd #c9e1bd #c9e1bd transparent; /* LTR */ box-shadow: -8px 0 0 #77b259; /* LTR */ }

/* See .color-warning in Seven's colors.css */
.messages--warning { background-color: #fdf8ed; border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */ color: #734c00; box-shadow: -8px 0 0 #e09600; /* LTR */ }

/* See .color-error in Seven's colors.css */
.messages--error { background-color: #fcf4f2; color: #a51b00; border-color: #f9c9bf #f9c9bf #f9c9bf transparent; /* LTR */ box-shadow: -8px 0 0 #e62600; /* LTR */ }

.messages--error p.error { color: #a51b00; }

/*FORM*/
/** @file Visual styles for form components. */
form .field-multiple-table { margin: 0; }

form .field-multiple-table .field-multiple-drag { width: 30px; padding-right: 0; /*LTR*/ }

form .field-multiple-table .field-multiple-drag .tabledrag-handle { padding-right: .5em; /*LTR*/ }

form .field-add-more-submit { margin: .5em 0 0; }

/*TABS*/
div.tabs { margin: 1em 0; }

ul.tabs { list-style: none; margin: 0 0 0.5em; padding: 0; }

.tabs > li { display: inline-block; margin-right: 0.3em; /* LTR */ }

.tabs a { display: block; padding: 6px 10px; text-decoration: none; font-size: 13px; /*background: #e6e6e6;*/ line-height: 100%; color: #444; }

.tabs a.is-active { background-color: #fd2626; color: #fff; }

.tabs a:focus, .tabs a:hover { background-color: #ea1616; color: #fff; }

/** @file Seven styles for Tables. */
table { width: 100%; margin: 0 0 10px; }

caption { text-align: left; /* LTR */ }

th { text-align: left; /* LTR */ padding: 10px 12px; }

thead th { background: #f5f5f2; border: solid #bfbfba; border-width: 1px 0; color: #333; text-transform: uppercase; }

tr { border-bottom: 1px solid #e6e4df; padding: 0.1em 0.6em; }

thead > tr { border-bottom: 1px solid #000; }

tbody tr:hover, tbody tr:focus { background: #f7fcff; }

/* See colors.css */
tbody tr.color-warning:hover, tbody tr.color-warning:focus { background: #fdf8ed; }

tbody tr.color-error:hover, tbody tr.color-error:focus { background: #fcf4f2; }

td, th { vertical-align: middle; }

td { padding: 10px 12px; text-align: left; /* LTR */ }

th > a { position: relative; display: block; }

/* 1. Must match negative bottom padding of the parent <th> */
th > a:after { content: ''; display: block; position: absolute; top: 0; bottom: -10px; /* 1. */ left: 0; right: 0; border-bottom: 2px solid transparent; -webkit-transition: all 0.1s; transition: all 0.1s; }

th.is-active > a { color: #004875; }

th.is-active img { position: absolute; right: 0; /* LTR */ top: 50%; }

th.is-active > a:after { border-bottom-color: #004875; }

th > a:hover, th > a:focus, th.is-active > a:hover, th.is-active > a:focus { color: #008ee6; text-decoration: none; }

th > a:hover:after, th > a:focus:after, th.is-active > a:hover:after, th.is-active > a:focus:after { border-bottom-color: #008ee6; }

td .item-list ul { margin: 0; }

td.is-active { background: none; }

/* Force browsers to calculate the width of a 'select all' TH element. */
th.select-all { width: 1px; }

/** Captions. */
.caption { margin-bottom: 1.2em; }

/** Responsive tables. */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low, td.priority-low, th.priority-medium, td.priority-medium { display: none; } }
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low, td.priority-low { display: none; } }
p { margin: 0 0 10px 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { color: #474747; font-weight: 500; margin: 10px 0; line-height: 120%; text-transform: uppercase; }

h1, .h1 { font-size: 1.8em; }

h2, .h2 { font-size: 1.5em; }

h3, .h3 { font-size: 1.4em; }

h4, .h4 { font-size: 1em; }

img { max-width: 100%; }

strong { font-weight: bold; }

h2.title { color: #ff6260; }

a { color: #ff6260; }
a:hover { color: #ea504e; text-decoration: none; }

ol, ul { padding-left: 20px; margin-bottom: 20px; }
ol li, ul li { list-style: outside; }

ol li { list-style-type: decimal; }

ul.links.inline { padding: 0; }
ul.links.inline li { list-style: none; }

.block { margin-bottom: 10px; }

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/
body { font-family: "Poppins", sans-serif; font-size: 12px; line-height: 160%; color: black; overflow-x: hidden; font-weight: 300; background: white; background-size: cover; }

/*Page title*/
.region-page-title h1 { margin: 20px 0; color: #fff; text-align: center; }

/*Footer Widget*/
.footerwidget { background: #108441; color: #86b59a; padding: 20px 0; border-top: 1px solid #f7f7f7; }
.footerwidget h2.title { color: #fff; }
.footerwidget .left { float: left; margin: 10px 10px 0 0; }

.copyright { font-size: .9em; background: #000; color: #999; }
.copyright p { margin: 20px 0; line-height: 100%; }

/*Google Map*/
.map-and-address h2.title { display: none; }

.google_map p, .google_map .block { margin: 0; }
.google_map iframe { display: block; }

/*Credit Link*/
.credit-link { text-align: left; }

/*Social Media*/
.social-media { margin: 10px 0; overflow: hidden; text-align: center; }
.social-media a { color: #000; margin: 0 10px 0 0; text-align: center; line-height: 220%; font-size: 1em; display: inline-block; padding: 10px; }
.social-media a:hover { color: #ff6260; }

/*Form*/
input, button, select, textarea { padding: 6px; border: 1px solid #e3e3e3; }

.contact-message-form label { display: block; }

.btn, input[type="submit"] { background: #EB0400; color: #fff; border: 0; padding: 10px 15px; line-height: 100%; border-radius: 0; }

.btn:hover, input[type="submit"]:hover { background: #ea504e; color: #fff; }

/*Comment*/
.comment-wrap { overflow: hidden; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #F5F5F5; }
.comment-wrap .author-details { float: left; width: 20%; }
.comment-wrap .author-comments { padding-left: 5px; float: left; width: 80%; }
.comment-wrap .author-comments h3 { margin-top: 10px; }
.comment-wrap .author-comments p { margin-bottom: 10px; }

.comment-submitted { padding: 5px 10px; border: 1px solid #eee; display: inline-block; line-height: 100%; }

/*links Inline*/
ul.links.inline li { display: inline-block; padding-right: 10px; }

/*Sidebar Block*/
.sidebar .region h2.title { padding: 5px 0; margin: 0; }
.sidebar .region .content { padding: 10px 0; }

.region-content { min-height: 3em; }

.path-frontpage .region-content { min-height: auto; }

/*Markup generated by Form API.*/
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }

tr.odd .form-item, tr.even .form-item { margin-top: 0; margin-bottom: 0; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { font-size: 0.70em; line-height: 150%; }

label.option { display: inline; font-weight: normal; }

.form-composite > legend, .label { display: inline; font-size: inherit; font-weight: bold; margin: 0; padding: 0; }

.form-checkboxes .form-item, .form-radios .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }

.marker { color: #e00; }

abbr.tabledrag-changed, abbr.ajax-changed { border-bottom: none; }

.form-item input.error, .form-item textarea.error, .form-item select.error { border: 2px solid red; }

.owl-theme .owl-dots .owl-dot span { background: #b5b5b5; height: 7px; width: 7px; }

/* Testimonials */
.testimonials-wrap { background: #fafafa; border-top: solid 1px #e3e3e3; border-bottom: solid 1px #e3e3e3; padding: 20px 0; text-align: center; font-size: 1em; line-height: 160%; }

.region-testimonials { max-width: 600px; margin: 0 auto; }

.testimonials-pic { width: 40px; height: 40px; display: inline-block; vertical-align: bottom; margin-right: 10px; }

.testimonials-pic img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.testimonials-author { padding: 0 5px; font-size: .75em; color: #555; }

/*Front Page*/
.path-frontpage .feed-icon { display: none; }

.path-frontpage .content_layout { max-width: 750px; margin: 0 auto; padding: 20px 0; overflow: hidden; }

/*Region Homepage Message*/
.region-homepagemessage { padding: 20px 0; text-align: center; max-width: 750px; margin: 0 auto; }
.region-homepagemessage p, .region-homepagemessage .block { margin: 0; }

/*Address*/
.address-wrap { text-align: center; padding: 25px 0 10px 0; background: url('../images/world-map.png?1475749338') gainsboro center no-repeat; }

/*Bottom Widgets*/
.bottom-widgets { text-align: center; margin: 0 auto; padding-bottom: 30px; background: #27ae60; color: #b4dec6; }
.bottom-widgets .block h2.title { margin: 5px 0 10px 0; color: #fff; }
.bottom-widgets .row > div { border-right: 1px solid #2ec16c; }
.bottom-widgets .row > div:last-child { border: 0; }

.path-frontpage .bottom-widgets { padding: 20px 0; }

/*Header*/
.main-header {background: url("/themes/special_theme/images/h3.jpg") 0% 0% / cover; height:300px; /*background: #fff; background: rgba(255, 255, 255, 0.74); position: fixed;*/ top: 0; right: 0; left: 0; z-index: 999; overflow: auto; }
.main-header nav { background: none; border: 0; margin: 0; position: relative; min-height: auto; border-radius: 0; }
.main-header .topnav {border-bottom: 1px solid rgba(0,0,0,0.1);position: fixed; width: 100%; transition: 0.5s all; height:100px;background: transparent;z-index: 90;}
.main-header .region { position: relative; }
.main-header .block { margin: 0; }

/*Region Header*/
.site-branding { margin: 0; }

.region-header .brand { display: inline-block; vertical-align: middle; color: black; line-height: 120%; font-size: 1.5em; border-right: 1px solid rgba(0,0,0,0.1); height:100px; transition: 0.5s all; }
.region-header .brand a { padding: 3px; display: inline-block; transition: 0.5s all; }
.region-header .brand a img { vertical-align: middle; margin-right: 50px; max-width:none; transition: 0.5s all;}
.region-header .brand .site-branding__slogan { font-size: .6em; }

.region-contact-email .block { margin: 5px 0; }
.region-contact-email p { margin: 0; line-height: 120%; }

/*Search Form*/
.search-block-form { margin: 0 auto; }

.region-search { clear: both; padding: 6px 0; }

#search-block-form { display: table; width: 100%; }
#search-block-form .form-item, #search-block-form .form-actions { display: table-cell; vertical-align: top; }
#search-block-form input.form-submit { background: url('../images/search.png?1452238642') no-repeat center #ea504e; font-size: 0; width: 100%; height: 30px; vertical-align: top; }
#search-block-form input { width: 100%; height: 30px; }

/*Breadcrumb*/
.block-system-breadcrumb-block { margin: 0; }
.breadcrumb ul { padding: 0; margin: 0; }
.breadcrumb ul li { display: inline-block; }
.breadcrumb ul li:last-child span { display: none; }

/*Flexslider*/
.flexslider { border: 0; margin: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.flexslider .slider-caption { display: none; position: absolute; top: 30%; right: 0; left: 4%; z-index: 999; width: 50%; text-align: left; font-size: 1em; line-height: 150%; padding: 15px; border: 1px solid rgba(255, 255, 255, 0.6); left: 50%; margin-left: -25%; background: #000; background: rgba(0, 0, 0, 0.41); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.flexslider h2 { font-size: 1.3em; display: inline-block; text-transform: uppercase; margin: 0; line-height: 100%; padding: 10px; color: #fff; }
.flexslider .slider-description { display: inline-block; clear: both; color: #000; padding: 10px; margin-bottom: 0px; color: #fff; }
.flexslider .more-link { padding: 8px 10px; font-size: .9em; display: inline-block; text-transform: uppercase; /*color: #fff;*/ }
.flexslider .slides li { position: relative; }
.flexslider .flex-direction-nav { display: none; position: absolute; top: 50%; width: 100%; }
.flexslider .flex-direction-nav li { list-style: none; }
.flexslider .flex-direction-nav a { font-size: 0; padding: 10px; }
.flexslider .flex-control-paging li a { width: 8px; height: 8px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.flexslider .flex-control-nav { bottom: 0; }

/*Menu*/
.navbar-default .navbar-toggle { z-index: 999; margin-right: 0; border: 0; border-radius: 0; color: #fff; background: none; padding: 6px 6px; }
.navbar-default .navbar-toggle .icon-bar { display: block; width: 35px; height: 4px; border-radius: 1px; background-color: #333; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }

nav h2 { display: none; }

.menu-base-theme { background: none; padding-top: 20px; transition: 0.5s all; }
.menu-base-theme ul { background: none; border-top: 2px solid #F00 !important;
    margin-top: 13px !important; }
.menu-base-theme li a { color: #eeeeee; border-bottom: 1px solid #EEF0F7; /*line-height: 100%; padding: 17px 15px; text-transform: uppercase; font-size: 1em;*/line-height: 22px;
    padding: 17px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    transition: margin .4s ease, padding .4s ease;
    display: block; }
.menu-base-theme li a:hover, .menu-base-theme li a:focus, .menu-base-theme li a:active, .menu-base-theme li a.highlighted { background: none; color: #ff6260; /*line-height: 100%;*/ padding: 17px 15px; }
.menu-base-theme li a.sub-arrow { color: #999; font-size: 22px; padding: 5px; border-radius: 2px; border: 1px solid #DCDCDC; background: #EFEFEF; }
.menu-base-theme li a span.sub-arrow { line-height: 160%; font-size: 2em; }

.region-primary-menu { 
	width: 100%; 
	/*background: #e44627; */
	margin-bottom: 15px; 
	border-radius: 5px; 
    padding-right: 25px !important;
    /*border-right: 1px solid rgba(0,0,0,0.1);*/transition: 0.5s all; }

/*Footer Menu*/
.footer-menu { margin: 0; border: 0; background: #f9f9f9; color: #fff; }

.region-footer-menu ul { margin: 10px 0; padding: 0; }
.region-footer-menu nav li { display: inline-block; }
.region-footer-menu nav li a { display: block; padding: 2px 15px 2px 0; }

/*Top Menu*/
.top-menu { padding: 10px 0; text-align: center; font-size: .75em; background: #f9f9f9; }

.region-top-menu ul { text-align: center; margin: 0; padding: 0; }
.region-top-menu nav li { display: inline-block; }
.region-top-menu nav li a { display: block; padding: 2px 10px; background: #3ad47b; color: #fff; text-transform: uppercase; font-weight: bold; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.region-top-menu nav li a:hover { background: #23b962; }
.region-top-menu nav li:last-child a { background: #f00; }
.region-top-menu nav li:last-child a:hover { background: #f11818; }

/*Demo Typography*/
.bd-example { position: relative; padding: 20px; border: 2px solid #f7f7f9; }

.highlight { padding: 20px; background-color: #f7f7f9; }
.highlight pre { border: 0; background: none; }

.bd-example-type h1, .bd-example-type h2, .bd-example-type h3, .bd-example-type h4, .bd-example-type h5, .bd-example-type h6 { margin: 0; }
.bd-example-type .table td { padding: 15px 0; border-color: #eee; }
.bd-example-type .table tr:first-child td { border-top: 0; }

.parallax-widget { padding: 0px 0; }
.parallax-widget h2.title { font-size: 1em; }

.region-homepagemessage { background: #000; background: rgba(0, 0, 0, 0.73); color: #fff; margin-bottom: 20px; padding: 20px; }

.topwidget { text-align: center; }
.topwidget * { color: #000; }
.topwidget p { margin-bottom: 10px; }
.topwidget h2.title { display: none; }
.topwidget .fa { font-size: 4em; color: #ff6260; }
.topwidget .block { margin: 0; }

.parallax-widget {    background-color: #F9F9F9;/* background: url("../images/parallax/one.jpg");*/ background-size: cover; min-height: 3em; }
.parallax-widget .parallax-region { background: rgba(255, 255, 255, 0.9); padding: 20px; /*max-width: 650px;*/ margin: 0 auto; }
.parallax-widget.zero { background-color: #F9F9F9;/*background: url("../images/parallax/zero.jpg");*/ background-size: cover; }
.parallax-widget.zero .parallax-region { padding: 0; background: none; }
.parallax-widget.one { background-color: #FFF;/*background: url("../images/parallax/one.jpg") fixed;*/ background-size: cover; }
.parallax-widget.two { background-color: #F9F9F9;/*background: url("../images/parallax/two.jpg");*/ background-size: cover; }
.parallax-widget.two .parallax-region { background: black; background: rgba(255, 255, 255, 0.67); }
.parallax-widget.three { background-color: #F9F9F9;/*background: url("../images/parallax/three.jpg");*/ background-size: cover; }
.parallax-widget.four { background-color: #F9F9F9;/*background: url("../images/parallax/four.jpg");*/ background-size: cover; }
.parallax-widget.five { background-color: #F9F9F9;/*background: url("../images/parallax/five.jpg");*/ background-size: cover; }
.parallax-widget.six { background-color: #F9F9F9;/*background: url("../images/parallax/six.jpg");*/ background-size: cover; }

.path-frontpage .parallax-widget.one { background-color: #F9F9F9;/*background: url(../images/parallax/one.jpg);*/ background-size: cover; }

.not-front .parallax-region { /*max-width: 850px;*/ }

/*----------------------------
	Contact page
-----------------------------*/
.contact-message-feedback-form { max-width: 650px; margin: 0 auto; border: 1px solid #E9E8ED; padding: 10px 20px; background: #FDFDFD; }

.contact-message-feedback-form .form-text, .contact-message-feedback-form .form-email, .contact-message-feedback-form .form-textarea { width: 100%; }

/*----------------------------
	User Login Form
-----------------------------*/
.user-login-form, .user-form, .user-pass { max-width: 500px; margin: 40px auto; border: 1px solid #e6e6e6; padding: 5px 20px; background: #fdfdfd; }
.user-login-form .form-text, .user-login-form .form-email, .user-form .form-text, .user-form .form-email, .user-pass .form-text, .user-pass .form-email { width: 100%; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { color: #999; font-style: italic; }

/*----------------------------
	Maintainance
-----------------------------*/
.maintenance-page { background: url('../images/maintenance-bg.png?1451969854') #66cbff center no-repeat; color: #fff; text-align: center; padding-top: 220px; padding-bottom: 100px; color: #000; }
.maintenance-page .brand, .maintenance-page .name-and-slogan { display: inline-block; vertical-align: middle; }
.maintenance-page .site-name a { color: #404040; }
.maintenance-page .site-slogan, .maintenance-page .name-and-slogan { display: none; }

.maintenance-msg { margin: 20px 0; background: rgba(242, 244, 207, 0.88); padding: 20px 30px; display: inline-block; color: #404040; border: 1px solid #fff; box-shadow: 5px 5px 0px #fff; }
.maintenance-msg h1 { text-transform: uppercase; font-weight: bold; }

/*----------------------------
	Profile Page
-----------------------------*/
.path-user .profile > div { display: inline-block; }
.path-user .profile .label { display: block; color: #333; }

/*----------------------------
	Clients page
-----------------------------*/
.node--type-clients h2, .node--type-services h2 { display: none; }

.field--name-field-clients-logo .owl-item { padding: 5px; border: 1px solid #ddd; text-align: center; }
.field--name-field-clients-logo .owl-item img { display: inline-block; width: auto; }

.field--name-field-service .owl-item { background: #333333; padding: 5px 10px; }
.field--name-field-service .owl-item * { color: #e4e4e4; }

.content-image { float: left; margin: 0 10px 5px 0; }




/* ----------------------------------------------------------------
	32. Footer
-----------------------------------------------------------------*/
.footer-stick { margin-bottom: -50px !important; }
.footer-stick { margin-bottom: -80px !important; }

#footer {
	position: relative;
	background-color: #EEE;
	border-top: 5px solid rgba(0,0,0,0.2);
}

.device-lg.sticky-footer #top-bar,
.device-md.sticky-footer #top-bar { z-index: 299; }

.device-lg.sticky-footer #header,
.device-md.sticky-footer #header { z-index: 199; }

.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content { z-index: 2; }

.device-lg.sticky-footer #footer,
.device-md.sticky-footer #footer {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.device-lg.sticky-footer:not(.stretched) #footer,
.device-md.sticky-footer:not(.stretched) #footer {
	left: 50%;
	margin-left: -610px;
	width: 1220px;
}

.device-md.sticky-footer:not(.stretched) #footer {
	margin-left: -500px;
	width: 1000px;
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: 80px 0;
}

.footer-widgets-wrap .col_full,
.footer-widgets-wrap .col_half,
.footer-widgets-wrap .col_one_third,
.footer-widgets-wrap .col_two_third,
.footer-widgets-wrap .col_three_fourth,
.footer-widgets-wrap .col_one_fourth,
.footer-widgets-wrap .col_one_fifth,
.footer-widgets-wrap .col_two_fifth,
.footer-widgets-wrap .col_three_fifth,
.footer-widgets-wrap .col_four_fifth,
.footer-widgets-wrap .col_one_sixth,
.footer-widgets-wrap .col_five_sixth { margin-bottom: 0; }

#copyrights {
	padding: 40px 0;
	font-size: 14px;
	line-height: 1.8;
}

#copyrights i.footer-icon {
	position: relative;
	top: 1px;
	font-size: 14px;
	width: 14px;
	text-align: center;
	margin-right: 3px;
}

.copyright-links a {
	display: inline-block;
	margin: 0 3px;
	color: #333;
	border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
	color: #555;
	border-bottom: 1px solid #666;
}

.copyrights-menu { margin-bottom: 10px; }

.copyrights-menu a {
	font-size: 14px;
	margin: 0 10px;
	border-bottom: 0 !important;
}

#copyrights .col_half { margin-bottom: 0 !important; }

#copyrights a:first-child { margin-left: 0; }

#copyrights .tright a:last-child { margin-right: 0; }

.footer-logo {
	display: block;
	margin-bottom: 30px;
}
.dark #footer .social-icon.si-borderless,
#footer.dark .social-icon.si-borderless { color: #555 !important; }
#footer.dark,
.dark #footer {
	background-color: #333;
	color: #CCC;
	border-top-color: rgba(0,0,0,0.2);
}

.dark #copyrights {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.dark #copyrights i.footer-icon { color: rgba(255,255,255,0.3); }

.dark .copyright-links a {
	color: rgba(255,255,255,0.25);
	border-bottom-color: rgba(255,255,255,0.25);
}

.dark .copyright-links a:hover {
	color: rgba(255,255,255,0.35);
	border-bottom-color: rgba(255,255,255,0.35);
}


.dark .footer-widgets-wrap a { color: #CCC; }

.dark .footer-widgets-wrap a:hover { color: #999; }
.footer h4 { margin: 0 0 10px 0; }
#footer select { color: #E31936; background-color:#ffffff; }
#footer { border-top: none; }


.sc-edit-collection {
  background-attachment: scroll;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 13px;
  float: right; /* LTR */
  margin: 0;
  overflow: hidden;
  padding: 0 2px;
  position:absolute;
  right: 5px; /* LTR */
  top:5px;
  cursor: pointer;
}


.sc-edit-collection a{
  background-image: url(/core/themes/stable/images/core/icons/bebebe/pencil.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  /* Override the .focusable height: auto */
  /*height: 26px !important;*/
  /* Override the .focusable height: auto */
  /*width: 26px !important;*/
  text-indent: -9999px;
}

.sc-edit-collection a:hover {
	background-color: #fff;
  background-image: url(/core/themes/stable/images/core/icons/787878/pencil.svg);
}

.sc-edit-collection a:focus {
  background-image: url(/core/themes/stable/images/core/icons/5181c6/pencil.svg);
  outline: none;
}

.views-element-container .contextual{display:none !important;}



.field--name-field-text-demo p a,.field--name-field-text p a,
.field--name-field-text-demo li a,.field--name-field-text li a,
.paragraph--type--text table a{
	background: none;
	line-height: initial;
	padding: inherit;
	display: initial;
	font-size: 13px;
}
.paragraph--type--text table a{padding:0px;}
.field--name-field-text-demo li a,.field--name-field-text li a{
	display: initial;
    padding: initial;
}

.field--name-field-text-demo p a:hover,.field--name-field-text p a:hover,
.field--name-field-text-demo li a:hover,.field--name-field-text li a:hover,
.paragraph--type--text table a:hover{text-decoration:underline;background:none;color:#F00;}

#isNestedUrl{font-size:12px;padding-left:40px;}
#isDNestedUrl{font-size:12px;padding-left:80px;}


.content #side-navigation{border: none !important;}


.paragraph--type--small-gallery a{
	width:328px;
    float:left;
}
.paragraph--type--small-gallery a img{
	width:288px;
    height:134px;
}

.field--name-field-text-demo .captionImage a:hover{
	color:#f00;
	background:none;
}

.field--name-field-text .captionImage {
    width: 288px;
    padding: 5px 5px 15px 5px;
    border: 1px solid #CCC !important;
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.field--name-field-text .captionImage.left {
    float: left;
    margin: 0 20px 21px 0;
}

.field--name-field-text .captionImage.right {
    float: right;
    margin: 0 0 21px 20px;
}

.field--name-field-text .captionImage.small {
    width: 208px;
}


.field--name-field-text-demo .captionImage {
    width: 288px;
    padding: 5px 5px 15px 5px;
    border: 1px solid #CCC !important;
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.field--name-field-text-demo .captionImage.left {
    float: left;
    margin: 0 20px 21px 0;
}

.field--name-field-text-demo .captionImage.right {
    float: right;
    margin: 0 0 21px 20px;
	clear: both;
}

.field--name-field-text-demo .captionImage.small {
    width: 208px;
}




.paragraph--type--text table.timeline tr{border-bottom: none;}

.paragraph--type--text table.timeline tr td{border:none;padding:10px 0px 10px 0px;}

.paragraph--type--text table.timeline td:first-child{background:url(/themes/special_theme/images/timeline_circle_bar.png);background-position:right center;background-repeat:repeat-y;font-size:1.2em;font-weight:bold;padding:0 30px 0 0;text-align:right;width:90px;}

.paragraph--type--text table.timeline td.month:first-child{background:url(/themes/special_theme/images/timeline_dot_bar.png);background-position:right center;background-repeat:repeat-y;}

.paragraph--type--text table.timeline td:first-child .month{color:#505050;font-size:0.7em;font-weight:normal;}

.paragraph--type--text table.timeline td:last-child{border-bottom:1px dotted #a0a0a0;padding-left:10px;}

.paragraph--type--text table.timeline td:last-child .month{font-weight:bold;}

.paragraph--type--text table.timeline tr td a.education_link{content:url(/themes/special_theme/images/books.png);}

.paragraph--type--text table.timeline tr td img{border:0;float:left;margin:0 5px 5px 0;}


.node--promoted .comment-submitted{display:none;}

.paragraph--type--text-large-image-left .field--type-image {float:left;margin-right:4%;width:58.4%}


.user-logged-in .not-dark{padding-top: 79px;}
