div.horizontal-tabs {
  border: none;
}

.horizontal-tabs-panes {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px;
  position: relative;
  margin-top: -6px;
}

.horizontal-tabs .horizontal-tabs-list {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.horizontal-tabs-list li {
  list-style: none;
  border: 1px solid #ddd;
  border-bottom-style: none;
}
