h3 { margin: 0 0 10px 0; }
p { margin-bottom: 15px; }
.centered-and-cropped { object-fit: cover }
.gold { color: #DAA520; }
.entry {
    margin: 0 0 25px;
    padding: 0 0 25px;
}
#page-title { padding: 17px 0 12px 0; }
	.ask-us { display: none; }
	.ztitle { padding-top: 14px !important; }
	img.alignleft, div.alignleft { margin: 0px 0px 0px 0; float:none;}
	
	
	
	.glyphicon { margin-right:5px; }

/** Sidebar fix **/

.sidebar .col-md-3 {
  width: inherit;
}

@media (min-width:992px) and (max-width: 1199px) {
  #sidebar_second{
    width: 200px;
  }

  .col-md-9 {
    width: 74%;
  }
}

@media (min-width:767px) and (max-width: 991px) {
  #sidebar_second{
    width: 200px !important;
    float: right !important;
  }

  .parallax-region .row.layout .content_layout {
    float: left !important;
    width: 71% !important;
    margin-right: 0%;
  }
}

/** Search Display Control Block **/
.dropdown-toggle {
  background-color: #fff;
  color: unset;
}
#result_count_form {
  margin-bottom: auto;
}
#result_count_form select {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: .6em 1.4em .5em .8em;
  width: 125%;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
         linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

/** Results display **/

.item.grid-group-item {
  padding: 0px 7px 0px 7px;
  margin-bottom: 0;
}

.item.grid-group-item div {
  padding: 0px;
}

.item.grid-group-item .thumbnail
{
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 0px;
  border-radius: 0;
}
.item.grid-group-item .caption
{
  padding: 9px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  border-top: unset;
}

.item.grid-group-item .row {
  padding-top: 9px;
  margin: unset;
}


.item.list-group-item .thumbnail
{
  display: block;
  position: relative;
  width: 30.63%;
  margin-right: 4%;
  float: left;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item .caption {
  display: block;
  position: relative;
  margin-right: 4%;
  margin-bottom: 50px;
  float: left;
  width: 65.33%;
}

/** truncate long description fields **/
.item.grid-group-item .field--name-body .field__item {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.views-row.list-group-item:nth-of-type(odd):hover,.views-row.list-group-item:hover
{
    background: #428bca;
}

.views-row.list-group-item .thumbnail
{
    margin: 0px 4px 0px 0px;
}
.collection-image img {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.views-row.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
    float: right;
    margin-bottom: unset;
    margin-right: unset;
    width: 68%;
}
.list-group-item-heading
{
  text-transform: unset;
}
.views-row.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.views-row.list-group-item:before, .views-row.list-group-item:after
{
    display: table;
    content: " ";
}

.views-row.list-group-item img
{
    display: inline-block;
}
.views-row.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.list-result-thumbnail
{
    margin-right: unset;
    margin-bottom: unset; 
    text-align: center;
    font-size: 84px;
}

.field__label {
    font-weight:bold;
}
.field__label:after {
	content: ":";
}

/** Facets **/
.facets-panel-body {
  padding-left: 5px;
  padding-bottom: 1em;
}
.toggle {
  margin-bottom: 1em;
}
.js-facets-widget {
  margin-bottom: unset;
}
.facet-block {
  margin-top: 1em;
  
}
.facet-title {
  font-weight: 600;
  font-size: 18px;
}
.facets-widget-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  max-height: 150px;
}
li.facet-item {
  list-style: none;
  border-bottom: 1px solid #eee;
}
li.facet-item label {
  text-transform: unset;
  letter-spacing: unset;
}
li.facet-item input.facets-checkbox {
  margin-right: 4px;
}
li.facets-reset {
  font-style: oblique;
  background-color: #eee;
}
li.facet-item a.is-active {
  font-style: oblique;
}

li.facet-item a.is-active .facet-item__count,
li.facets-reset a .facet-item__count {
  display: none;
}

.facets-widget-range_slider ul {
  padding: 0 1.75em 0 1.75em;
}
.item-list__range_slider li {
  list-style: none;
}

.close {
  font-size: 18px;
  color: #ffffff;
  opacity: 0.5; 
}

.search-box-terms button {
  margin-right: 0.5em;
}

.search-box-terms button a {
  text-decoration: none;
}

.search-box-terms button a::after {
  content: "x";
  margin-left: .5em;
  opacity: 0.5;
}
