{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drupal8_parallax_theme/search') }}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div id="products" class="row list-group">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      display_mode,
      'item',
      'col_one_third',
    ]
  %}

  {% if loop.index % 3 == 0 %}
    {% set row_classes = row_classes|merge(['col_last']) %}
  {% endif %} 

  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>

  {% if loop.index % 3 == 0 %}
  <div class="clear"></div>
  {% endif %} 
{% endfor %}
</div>
