{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class
  ]
%}
  <div class="thumbnail panel" style="text-align: center;">
  {% if thumbnail_url %} 
    <img class="group list-group-image" src="{{ thumbnail_url }}" alt="">
  {% else %}
    <div clas="fbox-icon" style="font-size: 8em;"><i class="{{ fbox_icon|default('icon-line2-doc') }}"></i></div>
  {% endif %}
  </div>
  <div class="caption panel">
    <h4{{ title_attributes.addClass('group inner list-group-item-heading') }}>
      <a href="{{ url }}">{{ name }}</a>
    </h4>
    {{ content }}
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="lead">
          <i class="{{ fbox_icon|default('icon-line2-doc') }}"></i> {{ type_label }}
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <a class="btn btn-success" href="{{ url }}">View</a>
      </div>
    </div>
  </div>
