{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, '') }}

{% macro menu_links(items, attributes, menu_level, ptitle) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="sm menu-base-theme" id="main-menu" {{ attributes.addClass('menu', 'nav', 'navbar-nav') }}>
    {% else %}
      <ul class="menu main-menu-id-{{ ptitle|lower }}">
    {% endif %}
    {% for item in items %}
      {% if menu_level == 0 and item.is_expanded %}
        <li>
        <a href="{{ item.url }}" data-target="#" data-toggle="dropdown"><div>{{ item.title }}</div></a>
      {% else %}
        <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1, item.title) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
	<!-- Primary Navigation ============================================= 
		<nav id="primary-menu" class="with-arrows">
			<ul>
				<li class="current"><a href="/"><div>Home</div></a></li>
				<li class="mega-menu"><a href="/collections"><div>Collections</div></a>
					<div class="mega-menu-content clearfix">
						<ul class="mega-menu-column col-md-3">
							<li><a href="/aae"><div><i class="icon-arrow-right2"></i>African American Experience in Las Vegas</div></a></li>
							<li><a href="/collections/saladino"><div><i class="icon-arrow-right2"></i>Charles Saladino Landscape Architecture Collection</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/cwu"><div><i class="icon-arrow-right2"></i>Culinary Union Photograph Collection</div></a></li>
							<li><a href="/collections/dino/dean-martin-dino-sands"><div><i class="icon-arrow-right2"></i>Dino at the Sands</div></a></li>
							<li><a href="/skyline"><div><i class="icon-arrow-right2"></i>Dreaming the Skyline</div></a></li>
						</ul>
						<ul class="mega-menu-column col-md-3">
							<li><a href="/collections/hoover-dam"><div><i class="icon-arrow-right2"></i>Hoover Dam</div></a></li>
							<li><a href="/collections/historic-landscape"><div><i class="icon-arrow-right2"></i>Historic Landscape of Nevada</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/jsc"><div><i class="icon-arrow-right2"></i>Jamey Stillings</div></a></li>
							<li><a href="/collections/menus"><div><i class="icon-arrow-right2"></i>Menus: The Art of Dining</div></a></li>
							<li><a href="/ntsohp/"><div><i class="icon-arrow-right2"></i>Nevada Test Site Oral History Project</div></a></li>
						</ul>
						<ul class="mega-menu-column col-md-3">
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/ohi"><div><i class="icon-arrow-right2"></i>Oral Histories Collection</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/pho"><div><i class="icon-arrow-right2"></i>Photograph Collections</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/reb"><div><i class="icon-arrow-right2"></i>Rebel Yell Newspaper</div></a></li>
							<li><a href="/collections/showgirls"><div><i class="icon-arrow-right2"></i>Showgirls</div></a></li>
							<li><a href="/boomtown/"><div><i class="icon-arrow-right2"></i>Southern Nevada: The Boomtown Years 1900-1925</div></a></li> 
						</ul>
						<ul class="mega-menu-column col-md-3">
							<li><a href="/collections/maps"><div><i class="icon-arrow-right2"></i>Southern Nevada History in Maps</div></a></li> 
							<li><a href="/jewishheritage"><div><i class="icon-arrow-right2"></i>Southern Nevada Jewish Heritage Project</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/uac"><div><i class="icon-arrow-right2"></i>UNLV CSUN Records</div></a></li>
							<li><a href="http://d.library.unlv.edu/cdm/landingpage/collection/box"><div><i class="icon-arrow-right2"></i>Walking Box Ranch Collection</div></a></li>  
							<li><a href="/hughes/"><div><i class="icon-arrow-right2"></i>Welcome Home Howard</div></a></li>
						</ul>
					</div>
				</li>
				<li><a href="/request-images"><div>Request Images</div></a></li>
			</ul>
		</nav><!-- #primary-menu end -->
  {% endif %}
{% endmacro %}
