{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, '') }}

{% macro menu_links(items, attributes, menu_level, ptitle) %}
  {% import _self as menus %}
  {% if menu_level == 0 %}
    <!-- Primary Navigation ============================================= -->
    <nav id="primary-menu" class="with-arrows">
  {% endif %}
  {% if items %}
{#
  We use the divisor to dynamically divide the sub-menus into
  a set number of columns; currently set to four.
#}
    {% set divisor = (items | length / 4)|round(0,'ceil') %}
    {% if menu_level == 0 %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% if menu_level == 0 and item.is_expanded %}
        <li class="mega-menu"><a href="{{ item.url }}"><div>{{ item.title }}</div></a>
        <div class="mega-menu-content clearfix">
      {% else %}
        {% if menu_level == 0 %}
          <li><a href="{{ item.url }}"><div>{{ item.title }}</div></a>
        {% else %}
          {% if loop.index % divisor == 1 and not loop.last %}
          <ul class="mega-menu-column col-md-3">
          {% endif %}
          <li><a href="{{ item.url }}"><div><i class="icon-arrow-right2"></i>{{ item.title }}</div></a></li>
        {% endif %}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1, item.title) }}
      {% endif %}
      {% if menu_level == 0 %}
          </li>
      {% elseif loop.index % divisor == 0 or loop.last%}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if menu_level == 0 %}
    </ul>
    </nav><!-- #primary-menu end -->
  {% endif %}
{% endmacro %}
