{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
	<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
		<h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
		<ol class="breadcrumb">
{#			<li><a href="http://library.unlv.edu">UNLV University Libraries</a></li> #}
{% for item in breadcrumb %}
			<li>{% if item.url %}<a href="{{ item.url }}">{{ (item.text == 'Home') ? 'Special Collections and Archives Portal' : item.text }}</a>{% else %}{{ item.text }}{% endif %}</li>
{% endfor %}
		</ol>
	</nav>
{% endif %}
