{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

  <div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
        {% if 'too-large' in item.content['#options']['attributes']['class'] %}
        The original file {{ item.content['#title'] }} is too large to download on demand.<br>
        Please contact <a href="mailto:special.collections@unlv.edu">special.collections@unlv.edu</a> for a copy of the file.
        {% elseif 'copyright-acknowledgement' in item.content['#options']['attributes']['class'] %}
        {{ attach_library('drupal8_parallax_theme/copyright_acknowledgement') }}
        <!-- Button trigger modal -->
        <a href="#" id="download-modal-link">{{ item.content['#title'] }}</a>
        <!-- Modal -->
        <div id="copyrightAcknowledgementModal" tabindex="-1" role="dialog" aria-labelledby="copyrightAcknowledgementModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3>Copyright &amp; Fair-use Agreement</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>UNLV Special Collections provides copies of materials to facilitate private study, scholarship, or research. Material not in the <a href="https://copyright.cornell.edu/publicdomain">public domain</a> may be used according to <a href="https://www.copyright.gov/fls/fl102.html">fair use</a> of <em>copyrighted materials</em> as defined by <a href="https://www.copyright.gov/title17/">copyright law</a>. Please <a href="http://library.unlv.edu/speccol/research_and_services/citing">cite us</a>.</p>
                <p>Please note that UNLV may not own the copyright to these materials and cannot provide permission to publish or distribute materials when UNLV is not the copyright holder. <em>The user is <strong>solely responsible</strong> for determining the copyright status of materials and obtaining permission to use material from the copyright holder and for determining whether any <a href="https://www.copyright.gov/circs/m10.pdf">permissions</a> relating to any other rights are necessary for the intended use, and for obtaining all required permissions beyond that allowed by fair use.</em></p>
                <p>Read more about our <a href="https://www.library.unlv.edu/speccol/research_and_services/reproductions">reproduction and use policy</a>.</p>
                {% if item.content['#url'] %}
                  <a href="{{ item.content['#url'] }}" class="btn" download="{{ item.content['#url']|raw|render|split('/')|last }}">
                   I agree.
                  </a>
                {% else %}
                  <a class="btn disabled" href="">
                    Link Currently Unavailable
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% else %}
          {# No copyright-acknowledgement class. #}
          {{ item.content }}
        {% endif %}
      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
