{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drupal8_parallax_theme/field-group-info') }}
<{{ wrapper_element }} {{ attributes }}>
  {% if title %}
  <div class="panel-heading">
    <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
  </div>
  {% endif %}
  <div class="panel-body nobottommargin field-group-wrapper">
    {{children}}
  </div>
</{{ wrapper_element }}>
