{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{# We set container to fluid in a few key spots where we want to use the full browser width. #}
{% set full_width = (node.bundle == 'archival_resource' or node.bundle == 'archival_object') ? '-fluid' %}

{% if page.contact_email or page.top_menu %}
  <div class="top-menu">
    <div class="container">
      <div class="row">

        <!-- Start: Contact Phone & Email -->
        <div class="col-sm-8">
          {% if page.contact_email %}
            {{ page.contact_email }}
          {% endif %}
        </div>
        <!-- End: Contact Phone & Email -->

        <!-- Start: Top menu -->
        <div class="col-sm-4">
          {% if page.top_menu %}
            {{ page.top_menu }}
          {% endif %}
        </div>
        <!-- End: Top menu -->

      </div>
    </div>
  </div>
{% endif %}
<!-- Document Wrapper ============================================= -->
	<div id="wrapper" class="clearfix">
	<!-- Header ============================================= -->
		<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">
			<div id="header-wrap">
				<div class="container clearfix">
					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
					<!-- Logo ============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="/themes/special_theme/images/logo.png"><img src="/themes/special_theme/images/logo.png" alt="UNLV Special Collections and Archives"></a>
						<a href="/" class="retina-logo" data-dark-logo="/themes/special_theme/images/logo.png"><img src="/themes/special_theme/images/logo.png" alt="UNLV Special Collections and Archives"></a>
					</div><!-- #logo end -->
					<!-- Primary Navigation ============================================= -->
{% if page.primary_menu %}
						{{ page.primary_menu }}
{% endif %}
				</div>
			</div>
		</header><!-- #header end -->
		{% block header_image_background %}
		<section id="slider" class="slider-parallax" style="background: url('/themes/special_theme/images/h3.jpg'); background-size: cover;" data-height-lg="{{ search_bar_slider_data_height.lg|default(300) }}" data-height-md="{{ search_bar_slider_data_height.md|default(300) }}" data-height-sm="{{ search_bar_slider_data_height.sm|default(300) }}" data-height-xs="{{ search_bar_slider_data_height.xs|default(200) }}" data-height-xxs="{{ search_bar_slider_data_height.xxs|default(200) }}">
			<div class="slider-parallax-inner">
				<div class="container clearfix">
					<div class="vertical-middle center">
					{% block search_bar %}
            <div class="container">
              <div class="heading-block bottommargin-sm nobottomborder"><h2 class="h4">Search the Special Collections and Archives Portal</h2></div>
              <form action="/search" id="views-exposed-form-solr-search-content-page-1" method="get" role="form" class="bottommargin-xs" accept-charset="UTF-8" title="Search">
                <div class="input-group input-group-lg">
                  <label style="display: none;" for="edit-keys">Search</label>
                  <input title="search box" type="text" id="edit-keys" name="keys" class="form-control" placeholder="Enter keywords...">
                  <span class="input-group-btn"><button class="btn btn-danger" type="submit" id="edit-submit-solr-search-content">Search</button></span>
                </div>
              </form>
            </div>
					{% endblock search_bar %}
					</div>
				</div>
			</div>
		</section>
		{% endblock header_image_background %}
      {% if not is_front %}
		<!-- Breadcrumbs -->
		<div class="color-line"></div>
		    <section id="breadcrumbs">
			<div class="container{{ full_width  }} clearfix">
				{{ page.breadcrumb }}
{# DISABLE ASK_US
      {% else %}
        <div class="ask-us pull-right"><a href="http://ask.library.unlv.edu"><img src="/themes/special_theme/images/gethelp.png" alt="get help"/></a></div>
#}
			</div>
		</section>
		<!-- breadcrumbs -->
      {% endif %}
		<!-- Content ============================================= -->



<!-- Start: Slider -->
  {% if is_front and show_slideshow%}
    <div class="flexslider wow">
      <ul class="slides">
        {% for slider_contents in slider_content %}
          {{ slider_contents | raw }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
<!-- End: Slider -->


<!-- Start: Home page message -->
  {% if (is_front) and (page.topwidget_first or page.topwidget_second or page.topwidget_third or page.homepagemessage) %}
    <div class="parallax-widget zero" id="about">
      <div class="container">
        <div class="parallax-region wow">

          <!-- Start: Home page message -->
          {% if is_front and page.homepagemessage %}
            {{ page.homepagemessage }}
          {% endif %}
          <!--End: Home page message -->

          {% if (is_front) and (page.topwidget_first or page.topwidget_second or page.topwidget_third) %}
            <div class="row topwidget">

              <!-- Start: Top wid
              get first -->
              {% if page.topwidget_first %}
                <div class = {{ topwidget_class }}>{{ page.topwidget_first }}</div>
              {% endif %}
              <!-- End: Top widget first -->

              <!-- Start: Top widget second -->
              {% if page.topwidget_second %}
                <div class = {{ topwidget_class }}>{{ page.topwidget_second }}</div>
              {% endif %}
              <!-- End: Top widget second -->

              <!-- Start: Top widget third -->
              {% if page.topwidget_third %}
                <div class = {{ topwidget_third_class }}>{{ page.topwidget_third }}</div>
              {% endif %}
              <!-- End: Top widget third -->

            </div>
          {% endif %}

        </div>
      </div>
    </div>
  {% endif %}
<!--End: Home page message -->

{% block parallax_widget_one %}
<!-- Start: xxx -->
<div class="parallax-widget one">
  <div class="parallax-region- wow">

    {% if page.highlighted %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ page.highlighted }}
          </div>
        </div>
      </div>
    {% endif %}

    {%  if page.page_title %}
      <div id="page-title">
        <div id="page-title-inner">
          <div class="container{{ full_width }}">
            <div class="row">
              <div class="col-md-12">
                {{ page.page_title }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="container{{ full_width }}">
      <div class="parallax-region">

        <div class="row layout">

          {% if page.sidebar_first %}
            <div class="sidebar" id="sidebar_first">
              <div class="{{sidebarfirst}}"> {{page.sidebar_first}} </div>
            </div>
          {% endif %}

          {% if page.content %}
            <div class="content_layout">
              <div class="{{contentlayout}}"> {{page.content}} </div>
            </div>
          {% endif %}

          {% if page.sidebar_second %}
            <div class="sidebar {{sidebar}}" id="sidebar_second">
              <div class="{{sidebarsecond}}"> {{page.sidebar_second}} </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: xxx -->
{% endblock parallax_widget_one %}

<!-- Start: Home page message -->
  {% if is_front and page.services %}
    <div class="parallax-widget two" id="services">
      <div class="container">
        <div class="parallax-region wow">
          <div class="row">
            <div class="col-md-12">
              {{ page.services }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!--End: Home page message -->


<!-- Start: Home page message -->
  {% if is_front and page.clients %}
    <div class="parallax-widget three" id="clients">
      <div class="container">
        <div class="parallax-region wow">
          <div class="row">
            <div class="col-md-12">
              {{ page.clients }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!--End: Home page message -->


<!-- Start: Home page message -->
{% if is_front and (page.bottom_first or page.bottom_second or page.bottom_third or page.bottom_forth) %}
  <div class="parallax-widget four" id="products">
    <div class="container">
      <div class="parallax-region wow">
        <div class="row">

          <!-- Start: Bottom First -->
          {% if page.bottom_first %}
            <div class = {{ bottom_class }}>
              {{ page.bottom_first }}
            </div>
          {% endif %}
          <!-- End: Bottom First -->

          <!-- Start: Bottom Second -->
          {% if page.bottom_second %}
            <div class = {{ bottom_class }}>
              {{ page.bottom_second }}
            </div>
          {% endif %}
          <!-- End: Bottom Second -->

          <!-- Start: Bottom third -->
          {% if page.bottom_third %}
            <div class = {{ bottom_class }}>
              {{ page.bottom_third }}
            </div>
          {% endif %}
          <!-- End: Bottom Third -->

          <!-- Start: Bottom Forth -->
          {% if page.bottom_forth %}
            <div class = {{ bottom_class }}>
              {{ page.bottom_forth }}
            </div>
          {% endif %}
          <!-- End: Bottom Forth -->

        </div>
      </div>
    </div>
  </div>
{% endif %}
<!--End: Home page message -->


<!-- Start: Home page message -->
{% if is_front and page.google_map and page.address%}
  <div class="parallax-widget five map-and-address" id="contact">
    <div class="container">
      <div class="parallax-region wow">
        <div class="row">
          <div class="col-md-6">
            <!-- Start: Google map -->
            {% if page.google_map %}
              <div class="google_map">{{ page.google_map }}</div>
            {% endif %}
            <!-- End: Google map -->
          </div>
          <div class="col-md-6">
            <!-- Start: Address -->
            {% if page.address %}
              <div class="address-wrap">{{ page.address }}</div>
            {% endif %}
          <!--End: Address -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
<!--End: Home page message -->


<!-- Start: Home page message -->
{% if  is_front and (page.footer_first or page.footer_second or page.footer_third) %}
  <div class="parallax-widget six" id="footer">
    <div class="container">
      <div class="parallax-region wow">
        <div class="row">

          <!-- Start: Footer First -->
          {% if page.footer_first %}
            <div class = {{ footer_first_class }}>
              {{ page.footer_first }}
            </div>
          {% endif %}
          <!-- End: Footer First -->

          <!-- Start :Footer Second -->
          {% if page.footer_second %}
            <div class = {{ footer_class }}>
              {{ page.footer_second }}
            </div>
          {% endif %}
          <!-- End: Footer Second -->

          <!-- Start: Footer third -->
          {% if page.footer_third %}
            <div class = {{ footer_class }}>
              {{ page.footer_third }}
            </div>
          {% endif %}
          <!-- End: Footer Third -->

        </div>
      </div>
    </div>
  </div>
{% endif %}
<!--End: Home page message -->
{% block collections_carousel %}
<!-- Collections Carousel only on the front page. -->
{% endblock collections_carousel %}
<!-- Start: Footer Menu -->
{% if show_social_icon %}
  <div class="footer-menu">
    <div class="container">
      <div class="row">

        <!-- Start: Social media links -->
        <div class="col-sm-12">
          <div class="social-media">
            {% if facebook_url %}
              <a href="{{ facebook_url }}"  class="facebook" target="_blank" ><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if google_plus_url %}
              <a href="{{ google_plus_url }}"  class="google-plus" target="_blank" ><i class="fa fa-google-plus"></i></a>
            {% endif %}
            {% if twitter_url %}
              <a href="{{ twitter_url }}" class="twitter" target="_blank" ><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if linkedin_url %}
              <a href="{{ linkedin_url }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            {% endif %}
            {% if pinterest_url %}
              <a href="{{ pinterest_url }}" class="pinterest" target="_blank" ><i class="fa fa-pinterest"></i></a>
            {% endif %}
            {% if rss_url %}
              <a href="{{ rss_url }}" class="rss" target="_blank" ><i class="fa fa-rss"></i></a>
            {% endif %}
          </div>
        </div>
        <!-- End: Social media links -->

      </div>
    </div>
  </div>
{% endif %}
<!-- End: Footer Menu -->


<!-- Start: Copyright -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="color-line"></div>
				<div class="content-wrap nobottompadding">
					<!-- Start: Footer blocks -->
					<div class="container clearfix">
						<div class="equal">
							<div class="col_one_fourth panel-default">{{ drupal_entity('block','specialcollectionsfooter1', check_access=false) }}</div>
							<div class="col_one_fourth panel-default">{{ drupal_entity('block','specialcollectionsfooter2', check_access=false) }}</div>
							<div class="col_one_fourth panel-default">{{ drupal_entity('block','specialcollectionsfooter3', check_access=false) }}</div>
							<div class="col_one_fourth col_last panel-default">{{ drupal_entity('block','specialcollectionsfooter4', check_access=false) }}</div>
						</div>
						<div class="clear"></div>
					</div>
					<!-- End: Footer blocks -->
					<!-- Start: Copyright -->
					<div id="copyrights">
						<div class="container clearfix">
							<div class="col_half" style="padding-left:10%;"> © {{ "now"|date("Y") }} University of Nevada, Las Vegas<br></div>
						</div>
					</div>
					<!-- End: Copyright -->
				</div><!-- #content-wrap end -->
				<!-- Go To Top ============================================= -->
				<div id="gotoTop" class="icon-angle-up fadeIn animated"></div>
			</div>
		</div>
	</footer>
</div>
