{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% extends "page.html.twig" %}

{% block collections_carousel %}
<!-- Topics and Formats -->
{% if is_front_page %}
	<!-- slider with icons -->
	<div class="container clearfix">
		<div class="fancy-title title-dotted-border"><h3 id="divisions">Content Types</h3></div>
			<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="40" data-pagi="true" data-nav="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="6" data-items-lg="6">
      {% for link in divisions_menu %}
				<div class="oc-item">
					<div class="feature-box fbox-center fbox-dark fbox-effect" data-animate="fadeIn" data-delay="50">
						<a href="{{ link.url }}">
							<div class="fbox-icon">{{ link.icon|raw }}</div>
							<h3>{{ link.title }}</h3>
						</a>
					</div>
				</div>
      {% endfor %}
			</div>
		</div>
	<div class="clear"></div>
	<!-- end slider with icons -->
	<div class="line"></div>
	<!-- slider with icons -->
	<div class="container clearfix">
		<div class="fancy-title title-dotted-border"><h3 id="topics">Topics</h3></div>
		<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="40" data-pagi="true" data-nav="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="6" data-items-lg="6">
    {% for link in topics_menu %}
    	<div class="oc-item">
    		<div class="feature-box fbox-center fbox-outline fbox-effect" data-animate="fadeIn">
			<a href="{{ link.url }}">
				<div class="fbox-icon">{{ link.icon|raw }}</div>
				<h3>{{ link.title }}</h3>
			</a>
    		</div>
    	</div>
    {% endfor %}
		</div>
	</div>
	<div class="clear"></div>
	<!-- end slider with icons -->
	<div class="line"></div>
	<!-- slider with icons -->
	<div class="container clearfix">
		<div class="fancy-title title-dotted-border"><h3 id="formats">Formats</h3></div>
			<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="40" data-pagi="true" data-nav="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="6" data-items-lg="6">
      {% for link in formats_menu %}
				<div class="oc-item">
					<div class="feature-box fbox-center fbox-dark fbox-effect" data-animate="fadeIn" data-delay="50">
						<a href="{{ link.url }}">
							<div class="fbox-icon">{{ link.icon|raw }}</div>
							<h3>{{ link.title }}</h3>
						</a>
					</div>
				</div>
      {% endfor %}
			</div>
		</div>
	<div class="clear"></div>
	<!-- end slider with icons -->
	<!-- End Topics and Formats -->
<div class="section noborder nomargin">
	<div class="container clearfix">
    <div class="heading-block center">
      <h2>Digital Projects</h2>
      <span>Curated collections of digital images, text, audio, and video with introductory webpages.</span>
    </div>
	</div>
	<!-- Digital Projects Carousel -->
	<div class="container-fluid clearfix">
		<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="20" data-pagi="false" data-nav="false" data-items-xxs="1" data-items-xs="2" data-items-sm="2" data-items-md="3" data-items-lg="5" data-autoplay="4000" data-loop="true">
			{% for collection in collections_list %}
        {% if collection.name.value != 'None' %}
			<div class="oc-item">
				<div class="feature-box center media-box fbox-bg">
					<div class="fbox-media">
						<a href="{{ collection.field_collections_url.0.url }}"><img class="image_fade" src="{{ file_url(collection.field_collections_image.entity.uri.value) }}" alt="{{ collection.name.value }}"></a>
					</div>
					<div class="fbox-desc">
						<h3>{{ collection.name.value }} <span class="subtitle"></span></h3>
						<p><a href="{{ collection.field_collections_url.0.url }}" class="btn btn-default">VIEW &nbsp;<icon class="icon-double-angle-right"></i></a></p>
					</div>
				</div>
			</div>
        {% endif %}
			{% endfor %}
		</div>
	</div>
	<!-- End Digital Projects Carousel -->
</div>
<div class="clear"></div>
<!-- end container -->
<!-- View all collections button -->
<div class="section nomargin zbutton">
	<div class="container clearfix center">
		<a href="/digital-projects" class="button button-border button-rounded button-large center">View All Digital Projects &nbsp;<icon class="icon-double-angle-right"></i></a>
	</div>
</div>
<div class="clear"></div>
<!-- End view all collections button -->

  {# Disabling Recent News...
	<!-- Recent news -->
	<div class="container clearfix">
  {% if page.recent_news %}
	  {{ page.recent_news }}
  {% endif %}
	</div>
  <div class="clear"></div>
  <!-- end recent news -->
  #}
<!-- #content end -->
{% endif %}
<!-- End: Topics and Formats -->
{% endblock collections_carousel %}
